header {
    background-image: url(image/1promyc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 717px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;

}

.logo {
    width: 80px;
    padding-left: 500px;


}

.nav-list {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
    color: white;

    font-size: 17px;
    padding-left: 230px;
    font-family: 'lato';
}

.nav-list li {
    cursor: pointer;
}

.search {
    width: 15px;
    cursor: pointer;
    padding-right: 230px;
}

/* Hamburger menu button */
.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
}

h1 {
    font-family: 'Permanent Marker';
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 300px;
    font-weight: lighter;
    bottom: 100px;
    position: relative;
}

h4 {
    text-align: center;
    color: white;
    font-size: 12px;
    padding-bottom: 50px;
    bottom: 120px;
    font-family: 'lato';
    position: relative;
}
h2 {
    font-family: 'Lato';
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
 


}

.vegan {
    color: black;
    text-align: center;
   
    font-family: lato;
    padding-bottom: 120px;
    position: relative;
right: 110px;
    font-size: 17px;
    padding-top: 30px;
    overflow: hidden;


}
.section2 h2 {
    font-family: 'Permanent Marker';
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-left: 105px;
    position: relative;
    bottom: 30px;

}

p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 13px;
    bottom: 20px;
    padding-left: 350px;
    font-family: lato;
    position: relative;


}

.mycorenaimg {
    height: auto;
    width: 1000px;

}

.section2 {
    display: flex;
    
    background-color: #202020;
}
h3 {
    text-align: left;
    font-family: lato;
    font-size: 28px;
    padding-top: 50px;
    position: relative;
    padding-left: 520px;
}

.NN {
    color: black;
    text-align: center;
    font-family: "lato";
    font-size: 15px;
  
    padding-top: 30px;
}

table {
    background-color: rgb(255, 255, 255);
    margin-left: 170px;
    gap: 50px;
    border-collapse: separate;
    border-spacing: 100px 0px;
    font-size: 18px;
}

.percentage {
    font-family: "lato";
    font-size: 13px;
    text-align: center;
}

.makepromyc {
    width: 630px;
    height: 300px;
    padding-top: 55px;
    padding-left: 801px;
}

.makewithpro {
    padding-right: 350px;
    color: black;
    position: relative;
    bottom: 253px;
    padding-bottom: 30px;
    font-size: 20px;
    right: 45px;
}
.features {
    padding-right: 350px;
    color: black;
    position: relative;
    bottom: 263px;
    font-size: 13px;
    right: 45px;
}
.section5 {
    background-image: url(image/blurredpromyc.jpg);
    position: relative;
    bottom: 174px;
    padding-top: 400px;
    background-repeat: no-repeat;
    padding-left: 100px;
    width: 91%;
    height: auto;
}

.advantages {
    color: black;
    text-align: center;
    font-size: 28px;
    padding-bottom: 500px;
    position: relative;
    bottom: 330px;
    padding-right: 10%;
    font-family: "lato";

}

.size {
    color: black;
    font-size: 15px;
    position: relative;
    bottom: 830px;
    padding-left: 100px;
    text-align: center;
    font-family: "lato";
    padding-right: 10%;
}

.colour1 {
    background-color: rgba(0, 255, 255, 0);
    position: relative;
    bottom: 800px;
    right: 110px;
}

.colour2 {
    background-color: rgba(0, 255, 255, 0);
    right: 110px;
    position: relative;
    bottom: 760px;
}

.dd {
    font-family: "lato";
    font-size: 12px;
    text-align: center;
}

.safe {
    font-family: "lato";
    font-size: 12px;
    text-align: center;
}

.row {
    width: 220px;
}
.section6 img {
    position: relative;
    left: 670px;
    width: 657px;

}

.section6 {
    display: flex;
    background-color: rgb(41, 41, 41);
    position: relative;
    bottom: 740px;
    width: 90%;

}

.fat {
    position: relative;
    right: 600px;
    font-family: 'Permanent Marker';
    color: white;
    bottom: 50px;

}

.both {
    font-family: "lato";
    font-size: 12px;
    position: relative;
    right: 550px;
    bottom: 50px;
}


